/.vscode

# Libraries
/lib

# Build files
MEDUSA
MEDUSA_*
/test_unit_api
/test_stress_f64
/test_stress_gmp
/obj

/doc

# Program output
*.svg
*.pdf
*.dot
res-vars.txt

# For debug purposes
gmon.out
/logs
/test_benchmark_semantics
/test_grover_*
.cursor/
norm_track.csv
